<a href="https://colab.research.google.com/github/sleeptiger/Abc-project/blob/main/pandas%EC%A0%95%EB%A6%ACL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS

## pandas 실행

In [4]:
import numpy as np
import pandas as pd

## 리스트(list)로 pandas 만들기
- 비추천 , columns 따로 지정

In [5]:
mylist = [1,2,3,4]
print(type(mylist))
mySeries = pd.Series(mylist)

<class 'list'>

In [6]:
type(mySeries)

pandas.core.series.Series

In [ ]:
mylists = [['야구', '류현진', '22,300,000,000'],
           ['축구', '손흥민', '15,000,000,000'],
           ['롤', '페이커', '5,200,000,000']]
df = pd.DataFrame(mylists)
df

In [ ]:
df = pd.DataFrame(mylists, columns=['종목', '이름', '연봉'])
df

##딕셔너리(dict)로 만들기
- 추천 columns 을 지정되기 때문에 편하다.

In [ ]:
mydict = {'종목': ['야구', '축구', '롤'],
          '이름' :['류현진', '손흥민', '페이커'],
          '연봉' : ['22,300,000,000', '15,000,000,000', '5,200,000,000']}
df = pd.DataFrame(mydict)
df

## csv파일 읽고 쓰기

In [ ]:
csv_path = '/content/drive/MyDrive/Part.2 파이썬 데이터 분석 및 머신러닝 기초 강의자료 및 부가자료/02. 파이썬을 활용한 데이터 전처리/kpop_boys.csv'

In [ ]:
df = pd.read_csv(csv_path)

In [ ]:
df.head() # 상위 5개의 columns만 출력

## 요약 정보 확인하기

In [ ]:
df.info

## Pandas(데이터 슬라이싱) 활용하기

In [7]:
df = pd.read_csv('https://bit.ly/3gRXTfD')

In [8]:
# 상위 10개의 값 출력
df = df.iloc[:,1:11].head(10)
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

## 행/열 선택하여 출력하기
>- 행 하나 가져오기 `(df['행 시작 인덱스'] : '행시작 인덱스+1'])`
>- 행 여개 가져오기 `(df['행 시작 인덱스') : ['행 끝 인덱스`])

In [ ]:
# 행 하나 가져오기
df[:1] # = df[0:1]

#### 행 여러개 가져오기

In [ ]:
# 행 여러ㅐ 가져오기
df[:2]

In [ ]:
df[5:]

In [ ]:
df[:5]

#### 열 가져오기
>- 열 하나 가져오기 `df['컬럼명']` or `df.컬럼명`
>- 열 여기개 가져오기 `df[['columns1', columns2', 'columns3']]]
>- 범위 설정으로 열 여러개 가져오기.
`df[df.columns[시작 인덱스:끝인덱스]])`

In [ ]:
#df의 모든 columns 출력
df.columns

In [ ]:
# 하나의 열  가져오기  비추천 너무 비효율적
df['Korean Name']

In [ ]:
# 특정 여러개의 열을 불러오기
df[['Korean Name', 'Group', 'Country']]

## **loc, iloc 을 사용해 편하개 조회하기**
>- loc, iloc은 pandas에서 데이터 조작을 쉽개 도와주는 명령어다.
>- 인덱싱(indexing)방식을 통해 데이터 읽기/쓰기, 슬라이싱 등 다양한 전처리 기능을 제공합니다.
>- 조건문을 기본적으로 활용할 수 있으며, 쿼리(SQL)문과 같이 원하는 조건에 맞는 데이터 추출 가능
>- 인덱스를 사용하여 바로 찾아내는 방식이기 때문에 매우 빠르다.

#### loc
>- 행과 열의 데이터 조회할 때는 `특정 레이블(label)`을 통해 접근 가능
>- `location`의 약어로, 사람이 읽을 수 있는 레이블 값을 사용

In [ ]:
df

**1. [loc] 특정 행 조회**

In [ ]:
df.loc[0] # 행 첫 번째 출력

In [ ]:
df.loc[:1] # 둘 이상 출력시 표로 나오는 것으로 추정

In [ ]:
df.loc['Sunny']

In [ ]:
df.loc[[1,3,5]] # []구간이 아닌 특정 순서이면 []로 묶어주기

In [9]:
# 숫자에서 -> 문자열 인덱스로 변경
loc_df = df.copy() # 원본 훼손 방지를 위하여 카피
loc_df.index = loc_df['Korean Name'] # 인덱스 값을 'korean Name으로 변경
loc_df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
Korean Name,,,,,,,,,,
김태연,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
이순규,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
황미영,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
김효연,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
권유리,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
최수영,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
임윤아,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
서주현,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
제시카 정,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
이채린,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

In [ ]:
loc_df.loc['임윤아'] #특정 문자 값 출력 가능

In [ ]:
loc_df.loc[['임윤아', '이순규', '김태연']]

**2.[loc] 조건문을 사용한 행 조회
(`df.loc[조건문]`)**

In [ ]:
df.head()

In [ ]:
df.loc[df['Korean Name'] == '임윤아']

In [ ]:
df.loc[df['Korean Name'] != '임윤아']

In [ ]:
df.loc[df['Height'] >= 160]

**3. [loc]특정 열 조회**

In [ ]:
df.columns

In [ ]:
# 특정 열 조회
df.loc[:, ['Korean Name']]

In [ ]:
df.loc[:, ['Korean Name', 'K. Stage Name']]

**4. [loc] 조거문을 사용하여 열 조회 (`df.loc[:, '조건문'])`**

In [ ]:
df.loc[:, df.columns == 'Korean Name']

In [ ]:
df.loc[:, df.columns != 'Korean Name']

**5.[loc] 행, 열 조건 조합**

In [ ]:
df.loc[df['Korean Name'] == '임윤아', ['Height']]

In [ ]:
df.loc[df['Korean Name'] == '임윤아', df.columns =='Height']

#### iloc
>- 행과 열의 데이터를 조회할 때 '숫자 인덱스(integer index)을 통해 접근
>- `integer location의 약어로, 컴퓨터가 읽을 수 있는 인덱스 값을 사용

In [10]:
iloc_df = loc_df.copy()
iloc_df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
Korean Name,,,,,,,,,,
김태연,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
이순규,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
황미영,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
김효연,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
권유리,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
최수영,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
임윤아,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
서주현,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
제시카 정,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
이채린,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

**1. [iloc]특정 `행` 조회**

In [ ]:
# 특정 행 조회
iloc_df.iloc[0]

In [ ]:
iloc_df.iloc[[0,3,5]]

In [ ]:
iloc_df.iloc[1:5]

**2. [iloc] 특정 열 조회**

In [11]:
# 특정 열 조회
iloc_df.iloc[:, 1:4] # 1 = index 시작 / 3= 끝나는 값 -1

                 Full Name Korean Name K. Stage Name
Korean Name
김태연            Kim Taeyeon         김태연            태연
이순규             Lee Sunkyu         이순규            써니
황미영          Hwang Miyoung         황미영           티파니
김효연            Kim Hyoyeon         김효연            효연
권유리              Kwon Yuri         권유리            유리
최수영          Choi Sooyoung         최수영            수영
임윤아               Im Yoona         임윤아            윤아
서주현            Seo Joohyun         서주현            서현
제시카 정         Jessica Jung       제시카 정           제시카
이채린            Lee Chaerin         이채린            씨엘

## Boolean Indexing, isin()
>- 참/거짓 여부를 판단해서 특정 조건이 맞는 데이터만 추출하는 방법

**1. Boolean Indexing**

In [12]:
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

In [ ]:
df['Height'] > 160

In [13]:
df.loc[df['Height'] >160]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48

**2. isin()을 활용한 색인**
>- 내가 정한 리스트(list)안에 있는 값들만 가져오고 싶을 때 사용된다.

In [ ]:
df

In [ ]:
group_name = ['SNSD'] # 리스트를 저장
df['Group'].isin(group_name)

In [ ]:
df.loc[df['Group'].isin(group_name)]

## 행(row), 열(column) 추가 및 삭제
>- 행 추가 : `df.append('추가할 행 정도(dict 또는 Series/DataFrame 타입)`
    - 인덱스를 무시하는 옵션 **ignore_index=True**을 반드시 추가해야 한다. 
>- 열 추가 : **df['추가할 열 이름'] ='추가할 일 정보(list or Series type)**
>-행/ 열 삭제:
    -행 삭제 :**df.drop(index=['delete row index'])**
    -열 삭제 : **df.drop(columns=('delete column name'])**

In [20]:
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

> 딕셔너리(dict)를 활용한 행 추가

In [22]:
new_row = {'Stage Name' : 'FastCampus',
           'Full name' : 'FastCampus',
           'Korean Name' : '패스트캠퍼스',
           'K. Stage Name' : '패캠',
           'Date of Birth' : '2017-01-01',
           'Group' : 'Fc',
           'Country' : 'South Korea',
           'Second Country' : None,
           'Height' : 180,
           'Weight' : 80}
# None, 숫자는 ''로 감싸주지 않는다. (Null value, int 값)

In [23]:
df = df.append(new_row, ignore_index=True)
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Full name
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44,NaN
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43,NaN
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,NaN
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48,NaN
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45,NaN
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48,NaN
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47,NaN
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48,NaN
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0,NaN
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0,NaN
10,FastCampus,NaN,패스트캠퍼스,패캠,2017-01-01,Fc,South Korea,None,180,80,FastCampus

> Series를 활용한 행 추가

In [24]:
type(df.iloc[-1])

pandas.core.series.Series

In [25]:
df.append(df.iloc[-1])

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Full name
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44,NaN
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43,NaN
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,NaN
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48,NaN
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45,NaN
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48,NaN
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47,NaN
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48,NaN
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0,NaN
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0,NaN
10,FastCampus,NaN,패스트캠퍼스,패캠,2017-01-01,Fc,South Korea,None,180,80,FastCampus
10,FastCampus,NaN,패스트캠퍼스,패캠,2017-01-01,Fc,South Korea,None,180,80,FastCampus

> column append(열 추가
>- `df['append column name'] = ['column value list']`
>- append type list , len = all row count.
>- df['추가할 열 이름'] = ['열에 대입할 값 리스트']
>- 리스트 형으로 열을 추가할 경우, 길이가 전체 행 수와 같아야 한다.

In [26]:
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Full name
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44,NaN
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43,NaN
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,NaN
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48,NaN
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45,NaN
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48,NaN
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47,NaN
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48,NaN
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0,NaN
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0,NaN
10,FastCampus,NaN,패스트캠퍼스,패캠,2017-01-01,Fc,South Korea,None,180,80,FastCampus

In [27]:
df['Blood Type'] = 'A'

In [35]:
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Blood Type
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44,A
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43,A
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,A
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48,A
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45,A
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48,A
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47,A
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48,A
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0,A
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0,A

In [36]:
len(df)

10

In [37]:
df['Blood Type'] = ['A']*5 + ['B'] * 5
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Blood Type
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44,A
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43,A
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,A
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48,A
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45,A
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48,B
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47,B
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48,B
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0,B
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0,B

> row/ column remove
>- remove row : `df.drop(index=['delete row index'])
>- remove column : `df.drop(columns=['remove column name'])

In [ ]:
df = df.drop(index=['10,11,12'])
# 값들이 없어서 error

In [39]:
df = df.drop(columns=['Blood Type'])
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0