<a href="https://colab.research.google.com/github/sleeptiger/Abc-project/blob/main/pandas%EC%A0%95%EB%A6%ACL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS

## pandas 실행

In [1]:
import numpy as np
import pandas as pd

## 리스트(list)로 pandas 만들기
- 비추천 , columns 따로 지정

In [ ]:
mylist = [1,2,3,4]
print(type(mylist))
mySeries = pd.Series(mylist)

In [ ]:
type(mySeries)

In [ ]:
mylists = [['야구', '류현진', '22,300,000,000'],
           ['축구', '손흥민', '15,000,000,000'],
           ['롤', '페이커', '5,200,000,000']]
df = pd.DataFrame(mylists)
df

In [ ]:
df = pd.DataFrame(mylists, columns=['종목', '이름', '연봉'])
df

##딕셔너리(dict)로 만들기
- 추천 columns 을 지정되기 때문에 편하다.

In [ ]:
mydict = {'종목': ['야구', '축구', '롤'],
          '이름' :['류현진', '손흥민', '페이커'],
          '연봉' : ['22,300,000,000', '15,000,000,000', '5,200,000,000']}
df = pd.DataFrame(mydict)
df

## csv파일 읽고 쓰기

In [ ]:
# csv_path = '/content/drive/MyDrive/Part.2 파이썬 데이터 분석 및 머신러닝 기초 강의자료 및 부가자료/02. 파이썬을 활용한 데이터 전처리/kpop_boys.csv'

In [ ]:
# df = pd.read_csv(csv_path)

In [ ]:
# df.head() # 상위 5개의 columns만 출력

## 요약 정보 확인하기

In [ ]:
# df.info

## Pandas(데이터 슬라이싱) 활용하기

In [ ]:
df = pd.read_csv('https://bit.ly/3gRXTfD')

In [ ]:
# 상위 10개의 값 출력
df = df.iloc[:,1:11].head(10)
df

## 행/열 선택하여 출력하기
>- 행 하나 가져오기 `(df['행 시작 인덱스'] : '행시작 인덱스+1'])`
>- 행 여개 가져오기 `(df['행 시작 인덱스') : ['행 끝 인덱스`])

In [ ]:
# 행 하나 가져오기
df[:1] # = df[0:1]

#### 행 여러개 가져오기

In [ ]:
# 행 여러ㅐ 가져오기
df[:2]

In [ ]:
df[5:]

In [ ]:
df[:5]

#### 열 가져오기
>- 열 하나 가져오기 `df['컬럼명']` or `df.컬럼명`
>- 열 여기개 가져오기 `df[['columns1', columns2', 'columns3']]]
>- 범위 설정으로 열 여러개 가져오기.
`df[df.columns[시작 인덱스:끝인덱스]])`

In [ ]:
#df의 모든 columns 출력
df.columns

In [ ]:
# 하나의 열  가져오기  비추천 너무 비효율적
df['Korean Name']

In [ ]:
# 특정 여러개의 열을 불러오기
df[['Korean Name', 'Group', 'Country']]

## **loc, iloc 을 사용해 편하개 조회하기**
>- loc, iloc은 pandas에서 데이터 조작을 쉽개 도와주는 명령어다.
>- 인덱싱(indexing)방식을 통해 데이터 읽기/쓰기, 슬라이싱 등 다양한 전처리 기능을 제공합니다.
>- 조건문을 기본적으로 활용할 수 있으며, 쿼리(SQL)문과 같이 원하는 조건에 맞는 데이터 추출 가능
>- 인덱스를 사용하여 바로 찾아내는 방식이기 때문에 매우 빠르다.

#### loc
>- 행과 열의 데이터 조회할 때는 `특정 레이블(label)`을 통해 접근 가능
>- `location`의 약어로, 사람이 읽을 수 있는 레이블 값을 사용

In [ ]:
df

**1. [loc] 특정 행 조회**

In [ ]:
df.loc[0] # 행 첫 번째 출력

In [ ]:
df.loc[:1] # 둘 이상 출력시 표로 나오는 것으로 추정

In [ ]:
df.loc['Sunny']

In [ ]:
df.loc[[1,3,5]] # []구간이 아닌 특정 순서이면 []로 묶어주기

In [ ]:
# 숫자에서 -> 문자열 인덱스로 변경
loc_df = df.copy() # 원본 훼손 방지를 위하여 카피
loc_df.index = loc_df['Korean Name'] # 인덱스 값을 'korean Name으로 변경
loc_df

In [ ]:
loc_df.loc['임윤아'] #특정 문자 값 출력 가능

In [ ]:
loc_df.loc[['임윤아', '이순규', '김태연']]

**2.[loc] 조건문을 사용한 행 조회
(`df.loc[조건문]`)**

In [ ]:
df.head()

In [ ]:
df.loc[df['Korean Name'] == '임윤아']

In [ ]:
df.loc[df['Korean Name'] != '임윤아']

In [ ]:
df.loc[df['Height'] >= 160]

**3. [loc]특정 열 조회**

In [ ]:
df.columns

In [ ]:
# 특정 열 조회
df.loc[:, ['Korean Name']]

In [ ]:
df.loc[:, ['Korean Name', 'K. Stage Name']]

**4. [loc] 조거문을 사용하여 열 조회 (`df.loc[:, '조건문'])`**

In [ ]:
df.loc[:, df.columns == 'Korean Name']

In [ ]:
df.loc[:, df.columns != 'Korean Name']

**5.[loc] 행, 열 조건 조합**

In [ ]:
df.loc[df['Korean Name'] == '임윤아', ['Height']]

In [ ]:
df.loc[df['Korean Name'] == '임윤아', df.columns =='Height']

#### iloc
>- 행과 열의 데이터를 조회할 때 '숫자 인덱스(integer index)을 통해 접근
>- `integer location의 약어로, 컴퓨터가 읽을 수 있는 인덱스 값을 사용

In [ ]:
iloc_df = loc_df.copy()
iloc_df

**1. [iloc]특정 `행` 조회**

In [ ]:
# 특정 행 조회
iloc_df.iloc[0]

In [ ]:
iloc_df.iloc[[0,3,5]]

In [ ]:
iloc_df.iloc[1:5]

**2. [iloc] 특정 열 조회**

In [ ]:
# 특정 열 조회
iloc_df.iloc[:, 1:4] # 1 = index 시작 / 3= 끝나는 값 -1

## Boolean Indexing, isin()
>- 참/거짓 여부를 판단해서 특정 조건이 맞는 데이터만 추출하는 방법

**1. Boolean Indexing**

In [ ]:
df

In [ ]:
df['Height'] > 160

In [ ]:
df.loc[df['Height'] >160]

**2. isin()을 활용한 색인**
>- 내가 정한 리스트(list)안에 있는 값들만 가져오고 싶을 때 사용된다.

In [ ]:
df

In [ ]:
group_name = ['SNSD'] # 리스트를 저장
df['Group'].isin(group_name)

In [ ]:
df.loc[df['Group'].isin(group_name)]

## 행(row), 열(column) 추가 및 삭제
>- 행 추가 : `df.append('추가할 행 정도(dict 또는 Series/DataFrame 타입)`
    - 인덱스를 무시하는 옵션 **ignore_index=True**을 반드시 추가해야 한다. 
>- 열 추가 : **df['추가할 열 이름'] ='추가할 일 정보(list or Series type)**
>-행/ 열 삭제:
    -행 삭제 :**df.drop(index=['delete row index'])**
    -열 삭제 : **df.drop(columns=('delete column name'])**

In [ ]:
df

> 딕셔너리(dict)를 활용한 행 추가

In [ ]:
new_row = {'Stage Name' : 'FastCampus',
           'Full name' : 'FastCampus',
           'Korean Name' : '패스트캠퍼스',
           'K. Stage Name' : '패캠',
           'Date of Birth' : '2017-01-01',
           'Group' : 'Fc',
           'Country' : 'South Korea',
           'Second Country' : None,
           'Height' : 180,
           'Weight' : 80}
# None, 숫자는 ''로 감싸주지 않는다. (Null value, int 값)

In [ ]:
df = df.append(new_row, ignore_index=True)
df

> Series를 활용한 행 추가

In [ ]:
type(df.iloc[-1])

In [ ]:
df.append(df.iloc[-1])

> column append(열 추가
>- `df['append column name'] = ['column value list']`
>- append type list , len = all row count.
>- df['추가할 열 이름'] = ['열에 대입할 값 리스트']
>- 리스트 형으로 열을 추가할 경우, 길이가 전체 행 수와 같아야 한다.

In [ ]:
df

In [ ]:
df['Blood Type'] = 'A'

In [ ]:
df

In [ ]:
len(df)

In [ ]:
df['Blood Type'] = ['A']*5 + ['B'] * 5
df

> row/ column remove
>- remove row : `df.drop(index=['delete row index'])
>- remove column : `df.drop(columns=['remove column name'])

In [ ]:
df = df.drop(index=['10,11,12'])
# 값들이 없어서 error

In [ ]:
df = df.drop(columns=['Blood Type'])
df

## 통계값 계산 및 정렬 방법 익히기

In [ ]:
df = pd.read_csv('http://bit.ly/3gRXTfD')

In [ ]:
df = df.iloc[:,1:11].head(8)
df

### 요약 정보 확인
>- `info()` = Null값과 컬럼수, 데이터 타입 확인할 때 사용된다.

In [ ]:
df.info()

- `shape` 을 사용하여 데이터 프레임 형태 확인
>- `shape`은 튜플(tuple)형태로 데이터 프레임의 형태를 알려준다. 첫번째는 row, 두번째는 column 정보이다

In [ ]:
df.shape
# row = 8//// column = 10

- `head()`, `tail()`을 사용한 부분 정보 출력

In [ ]:
# .head() --- 상위 10개 출력
# .head(n) --- 상위 n개 출력
# .tail() --- 하위 10개 출력
# .tail(n) --- 하위 n개 출력
df.head(4)

In [ ]:
df.tail(3)

>`describe()` 를 사용한 통계 정보 확인
>- `describe()`는 주로 데이터 분석을 시작하기 전, 숫자형(int) 데이터가 어떻게 생겼는지 빠르게 요약 통계 정보를 확인
>- 갯수(count), 평균(mean), 표준편차(std), 최소값(min), 1사분위수(25%), 2사분위수(50%), 3사분위수(75%), 최대값(max)

In [ ]:
df.describe() # 숫자로 이루어진 columns의 평균값

### 데이터 프레임 정렬하기

> 인덱스(index) 기준 정렬
>- `sort_index()`는 데이터 프레임의 인덱스를 기준으로 정렬해준다.

In [ ]:
# 오름차순 정렬 index (default 정렬) index기준
df.sort_index()

In [ ]:
# 내림차순 정렬 (ascending=False 추가) index기준
df.sort_index(ascending=False)

> 값(value) 기준 정렬
>- `sort_values()`는 데이터 프레임의 값을 기준으로 정렬

In [ ]:
df.sort_values(by='Height')

In [ ]:
# 내림차순
df.sort_values(by='Height', ascending=False)

> 복수 값(Multi-values)기준 정렬
>- `sort_values(by=['column', ''column2',...]`는 복수 값을 기준으로도 데이터 프레임을 정렬할 수 있다.
>- 첫번째 값을 기준으로 우선 정렬을 하고, 그다음 두번째 컬럼 기준으로 정렬

In [ ]:
#복수 값 기준 정렬
df.sort_values(by=['Height', 'Weight'])

In [ ]:
#복수 값 내림차순
df.sort_values(by=['Height', 'Weight'], ascending=False)

- df.sort_values(by=['Height', 'Weight'], ascending=[True, False])
-`Height column`은 오름차순으로 정렬
`Weight column`은 내림차순으로 정렬
However `Height`먼저 정렬후 Weight정렬

In [ ]:
df.sort_values(by=['Height', 'Weight'], ascending=[True, False])

## 피벗 테이블(pivot table) 기능과 그룹 통계(groupby)

In [2]:
df= pd.read_csv('https://bit.ly/3gRXTfD')

In [3]:
df = df.iloc[:, 1:11].head(200)
df = df.loc[(df['Height']!=0)&(df['Weight']!=0)].dropna(subset=['Group'], axis=0).reset_index(drop=True)

In [ ]:
df.info()

### 피벗 테이블 (pivot_table)

>피벗 테이블(pivot table)
>- 피벗 테이블 = 방대한 표(데이터베이스, 스트레드 시트,...) 데이터를 요약하는 통계표입니다.
>-이 요약에는 합계, 평균, 기타 통계가 포함/ 우리가 원하는 방식으로 묶거나 정렬 가능
>- 엑셀에서 사용되는 피벗 테이블과 동일 개념
>- 기본 사용법
    - **`pd.pivot_table(df, index = 'row index', columns = 'columns index', values = '조회하고 싶은 값', aggfunc='집계 방식')`**

In [4]:
df.head()

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45

In [5]:
# pd.pivot_table(csv_name, row_name, column_name, values, aggfunc(집계방식))
pd.pivot_table(df, index='Group', columns='Country', values='Height', aggfunc='mean')

Country     China  South Korea  Thailand
Group
9Muses        NaN   170.000000       NaN
AoA           NaN   166.500000       NaN
BLACKPINK     NaN   162.500000     170.0
CLC           NaN   167.000000       NaN
Girl's Day    NaN   166.750000       NaN
Gugudan       NaN   165.000000       NaN
LABOUM        NaN   165.250000       NaN
Lovelyz       NaN   164.000000       NaN
Mamamoo       NaN   163.000000       NaN
Oh My Girl    NaN   161.714286       NaN
SNSD          NaN   163.750000       NaN
T-ara         NaN   165.750000       NaN
f(x)        168.0          NaN       NaN

In [7]:
pd.pivot_table(df, index='Group', columns='Country', values='Height', aggfunc=sum)

Country     China  South Korea  Thailand
Group
9Muses        NaN        850.0       NaN
AoA           NaN        666.0       NaN
BLACKPINK     NaN        325.0     170.0
CLC           NaN        167.0       NaN
Girl's Day    NaN        667.0       NaN
Gugudan       NaN        495.0       NaN
LABOUM        NaN        661.0       NaN
Lovelyz       NaN       1148.0       NaN
Mamamoo       NaN        652.0       NaN
Oh My Girl    NaN       1132.0       NaN
SNSD          NaN       1310.0       NaN
T-ara         NaN        663.0       NaN
f(x)        168.0          NaN       NaN

In [9]:
pd.pivot_table(df, index='Group', columns='Country', values='Height',aggfunc='count'

SyntaxError: ignored