<a href="https://colab.research.google.com/github/sleeptiger/Abc-project/blob/main/pandas%EC%A0%95%EB%A6%ACL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS

## pandas 실행

In [1]:
import numpy as np
import pandas as pd

## 리스트(list)로 pandas 만들기
- 비추천 , columns 따로 지정

In [ ]:
mylist = [1,2,3,4]
print(type(mylist))
mySeries = pd.Series(mylist)

<class 'list'>

In [ ]:
type(mySeries)

pandas.core.series.Series

In [ ]:
mylists = [['야구', '류현진', '22,300,000,000'],
           ['축구', '손흥민', '15,000,000,000'],
           ['롤', '페이커', '5,200,000,000']]
df = pd.DataFrame(mylists)
df

    0    1               2
0  야구  류현진  22,300,000,000
1  축구  손흥민  15,000,000,000
2   롤  페이커   5,200,000,000

In [ ]:
df = pd.DataFrame(mylists, columns=['종목', '이름', '연봉'])
df

   종목   이름              연봉
0  야구  류현진  22,300,000,000
1  축구  손흥민  15,000,000,000
2   롤  페이커   5,200,000,000

##딕셔너리(dict)로 만들기
- 추천 columns 을 지정되기 때문에 편하다.

In [ ]:
mydict = {'종목': ['야구', '축구', '롤'],
          '이름' :['류현진', '손흥민', '페이커'],
          '연봉' : ['22,300,000,000', '15,000,000,000', '5,200,000,000']}
df = pd.DataFrame(mydict)
df

   종목   이름              연봉
0  야구  류현진  22,300,000,000
1  축구  손흥민  15,000,000,000
2   롤  페이커   5,200,000,000

## csv파일 읽고 쓰기

In [ ]:
csv_path = '/content/drive/MyDrive/Part.2 파이썬 데이터 분석 및 머신러닝 기초 강의자료 및 부가자료/02. 파이썬을 활용한 데이터 전처리/kpop_boys.csv'

In [ ]:
df = pd.read_csv(csv_path)

In [ ]:
df.head() # 상위 5개의 columns만 출력

,Profile,Name,Short,Korean Name,Debut,Company,Members,Orig. Memb.,Fanclub Name,Active
0,NaN,BIGBANG,NaN,빅뱅,2006-08-19,YG,4,5,VIP,Yes
1,Profile,Super Junior,SJ,슈퍼주니어,2005-11-06,SM,11,12,ELF,Yes
2,NaN,TVXQ!,TVXQ,동방신기,2003-12-26,SM,2,5,Cassiopeia,Yes
3,Profile,SHINee,NaN,샤이니,2008-05-25,SM,4,5,Shawol,Yes
4,Profile,EXO,NaN,엑소,2012-04-08,SM,9,12,EXO-L,Yes

## 요약 정보 확인하기

In [ ]:
df.info

<bound method DataFrame.info of      Profile          Name Short Korean Name       Debut   Company  Members  \
0        NaN       BIGBANG   NaN          빅뱅  2006-08-19        YG        4
1    Profile  Super Junior    SJ       슈퍼주니어  2005-11-06        SM       11
2        NaN         TVXQ!  TVXQ        동방신기  2003-12-26        SM        2
3    Profile        SHINee   NaN         샤이니  2008-05-25        SM        4
4    Profile           EXO   NaN          엑소  2012-04-08        SM        9
..       ...           ...   ...         ...         ...       ...      ...
182      NaN      LUMINOUS   LMN        루미너스  2021-09-09  Barunson        4
183  Profile        JUST B   NaN        저스트비  2021-06-30   Bluedot        6
184  Profile          EPEX   NaN         이펙스  2021-06-08        C9        8
185      NaN      BLITZERS   NaN        블리처스  2021-05-12      Wuzo        7
186      NaN         SIGMA   NaN         시그마  2021-01-26   Pluswin        4

     Orig. Memb. Fanclub Name Active
0              5          VIP    Yes
1             12          ELF    Yes
2              5   Cassiopeia    Yes
3              5       Shawol    Yes
4             12        EXO-L    Yes
..           ...          ...    ...
182            4          NaN    Yes
183            6       ONLY B    Yes
184            8       ZENITH    Yes
185            7          NaN    Yes
186            4          NaN    Yes

[187 rows x 10 columns]>

## Pandas(데이터 슬라이싱) 활용하기

In [2]:
df = pd.read_csv('https://bit.ly/3gRXTfD')

In [3]:
# 상위 10개의 값 출력
df = df.iloc[:,1:11].head(10)
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

## 행/열 선택하여 출력하기
>- 행 하나 가져오기 `(df['행 시작 인덱스'] : '행시작 인덱스+1'])`
>- 행 여개 가져오기 `(df['행 시작 인덱스') : ['행 끝 인덱스`])

In [4]:
# 행 하나 가져오기
df[:1] # = df[0:1]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44

#### 행 여러개 가져오기

In [5]:
# 행 여러ㅐ 가져오기
df[:2]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43

In [6]:
df[5:]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

In [8]:
df[:5]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45

#### 열 가져오기
>- 열 하나 가져오기 `df['컬럼명']` or `df.컬럼명`
>- 열 여기개 가져오기 `df[['columns1', columns2', 'columns3']]]
>- 범위 설정으로 열 여러개 가져오기.
`df[df.columns[시작 인덱스:끝인덱스]])`

In [9]:
#df의 모든 columns 출력
df.columns

Index(['Stage Name', 'Full Name', 'Korean Name', 'K. Stage Name',
       'Date of Birth', 'Group', 'Country', 'Second Country', 'Height',
       'Weight'],
      dtype='object')

In [11]:
# 하나의 열  가져오기  비추천 너무 비효율적
df['Korean Name']

0      김태연
1      이순규
2      황미영
3      김효연
4      권유리
5      최수영
6      임윤아
7      서주현
8    제시카 정
9      이채린
Name: Korean Name, dtype: object

In [12]:
# 특정 여러개의 열을 불러오기
df[['Korean Name', 'Group', 'Country']]

  Korean Name Group      Country
0         김태연  SNSD  South Korea
1         이순규  SNSD  South Korea
2         황미영  SNSD  South Korea
3         김효연  SNSD  South Korea
4         권유리  SNSD  South Korea
5         최수영  SNSD  South Korea
6         임윤아  SNSD  South Korea
7         서주현  SNSD  South Korea
8       제시카 정   NaN  South Korea
9         이채린  2NE1  South Korea

## **loc, iloc 을 사용해 편하개 조회하기**
>- loc, iloc은 pandas에서 데이터 조작을 쉽개 도와주는 명령어다.
>- 인덱싱(indexing)방식을 통해 데이터 읽기/쓰기, 슬라이싱 등 다양한 전처리 기능을 제공합니다.
>- 조건문을 기본적으로 활용할 수 있으며, 쿼리(SQL)문과 같이 원하는 조건에 맞는 데이터 추출 가능
>- 인덱스를 사용하여 바로 찾아내는 방식이기 때문에 매우 빠르다.

#### loc
>- 행과 열의 데이터 조회할 때는 `특정 레이블(label)`을 통해 접근 가능
>- `location`의 약어로, 사람이 읽을 수 있는 레이블 값을 사용

In [14]:
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

**1. [loc] 특정 행 조회**

In [15]:
df.loc[0] # 행 첫 번째 출력

Stage Name            Taeyeon
Full Name         Kim Taeyeon
Korean Name               김태연
K. Stage Name              태연
Date of Birth      1989-03-09
Group                    SNSD
Country           South Korea
Second Country            NaN
Height                    160
Weight                     44
Name: 0, dtype: object

In [16]:
df.loc[:1] # 둘 이상 출력시 표로 나오는 것으로 추정

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43

In [ ]:
df.loc['Sunny']

In [18]:
df.loc[[1,3,5]] # []구간이 아닌 특정 순서이면 []로 묶어주기

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48

In [25]:
# 숫자에서 -> 문자열 인덱스로 변경
loc_df = df.copy() # 원본 훼손 방지를 위하여 카피
loc_df.index = loc_df['Korean Name'] # 인덱스 값을 'korean Name으로 변경
loc_df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
Korean Name,,,,,,,,,,
김태연,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
이순규,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
황미영,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
김효연,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
권유리,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
최수영,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
임윤아,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
서주현,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
제시카 정,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
이채린,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

In [22]:
loc_df.loc['임윤아'] #특정 문자 값 출력 가능

Stage Name              Yoona
Full Name            Im Yoona
Korean Name               임윤아
K. Stage Name              윤아
Date of Birth      1990-05-30
Group                    SNSD
Country           South Korea
Second Country            NaN
Height                    166
Weight                     47
Name: 임윤아, dtype: object

In [27]:
loc_df.loc[['임윤아', '이순규', '김태연']]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
Korean Name,,,,,,,,,,
임윤아,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
이순규,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
김태연,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44

**2.[loc] 조건문을 사용한 행 조회
(`df.loc[조건문]`)**

In [29]:
df.head()

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45

In [30]:
df.loc[df['Korean Name'] == '임윤아']

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47

In [31]:
df.loc[df['Korean Name'] != '임윤아']

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

In [33]:
df.loc[df['Height'] >= 160]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48

**3. [loc]특정 열 조회**

In [34]:
df.columns

Index(['Stage Name', 'Full Name', 'Korean Name', 'K. Stage Name',
       'Date of Birth', 'Group', 'Country', 'Second Country', 'Height',
       'Weight'],
      dtype='object')

In [38]:
# 특정 열 조회
df.loc[:, ['Korean Name']]

  Korean Name
0         김태연
1         이순규
2         황미영
3         김효연
4         권유리
5         최수영
6         임윤아
7         서주현
8       제시카 정
9         이채린

In [39]:
df.loc[:, ['Korean Name', 'K. Stage Name']]

  Korean Name K. Stage Name
0         김태연            태연
1         이순규            써니
2         황미영           티파니
3         김효연            효연
4         권유리            유리
5         최수영            수영
6         임윤아            윤아
7         서주현            서현
8       제시카 정           제시카
9         이채린            씨엘

**4. [loc] 조거문을 사용하여 열 조회 (`df.loc[:, '조건문'])`**

In [40]:
df.loc[:, df.columns == 'Korean Name']

  Korean Name
0         김태연
1         이순규
2         황미영
3         김효연
4         권유리
5         최수영
6         임윤아
7         서주현
8       제시카 정
9         이채린

In [41]:
df.loc[:, df.columns != 'Korean Name']

,Stage Name,Full Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

**5.[loc] 행, 열 조건 조합**

In [43]:
df.loc[df['Korean Name'] == '임윤아', ['Height']]

   Height
6     166

In [44]:
df.loc[df['Korean Name'] == '임윤아', df.columns =='Height']

   Height
6     166

#### iloc
>- 행과 열의 데이터를 조회할 때 '숫자 인덱스(integer index)을 통해 접근
>- `integer location의 약어로, 컴퓨터가 읽을 수 있는 인덱스 값을 사용

In [50]:
iloc_df = loc_df.copy()
iloc_df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
Korean Name,,,,,,,,,,
김태연,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
이순규,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
황미영,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
김효연,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
권유리,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
최수영,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
임윤아,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
서주현,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
제시카 정,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
이채린,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

**1. [iloc]특정 `행` 조회**

In [53]:
# 특정 행 조회
iloc_df.iloc[0]

Stage Name            Taeyeon
Full Name         Kim Taeyeon
Korean Name               김태연
K. Stage Name              태연
Date of Birth      1989-03-09
Group                    SNSD
Country           South Korea
Second Country            NaN
Height                    160
Weight                     44
Name: 김태연, dtype: object

In [54]:
iloc_df.iloc[[0,3,5]]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
Korean Name,,,,,,,,,,
김태연,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
김효연,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
최수영,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48

In [55]:
iloc_df.iloc[1:5]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
Korean Name,,,,,,,,,,
이순규,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
황미영,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
김효연,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
권유리,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45

**2. [iloc] 특정 열 조회**

In [63]:
# 특정 열 조회
iloc_df.iloc[:, 1:4] # 1 = index 시작 / 3= 끝나는 값 -1

                 Full Name Korean Name K. Stage Name
Korean Name
김태연            Kim Taeyeon         김태연            태연
이순규             Lee Sunkyu         이순규            써니
황미영          Hwang Miyoung         황미영           티파니
김효연            Kim Hyoyeon         김효연            효연
권유리              Kwon Yuri         권유리            유리
최수영          Choi Sooyoung         최수영            수영
임윤아               Im Yoona         임윤아            윤아
서주현            Seo Joohyun         서주현            서현
제시카 정         Jessica Jung       제시카 정           제시카
이채린            Lee Chaerin         이채린            씨엘

## Boolean Indexing, isin()
>- 참/거짓 여부를 판단해서 특정 조건이 맞는 데이터만 추출하는 방법

**1. Boolean Indexing**

In [64]:
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

In [65]:
df['Height'] > 160

0    False
1    False
2     True
3    False
4     True
5     True
6     True
7     True
8    False
9    False
Name: Height, dtype: bool

In [66]:
df.loc[df['Height'] >160]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48

**2. isin()을 활용한 색인**
>- 내가 정한 리스트(list)안에 있는 값들만 가져오고 싶을 때 사용된다.

In [67]:
df

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48
8,Jessica,Jessica Jung,제시카 정,제시카,1989-04-18,NaN,South Korea,NaN,0,0
9,CL,Lee Chaerin,이채린,씨엘,1991-02-26,2NE1,South Korea,NaN,0,0

In [68]:
group_name = ['SNSD'] # 리스트를 저장
df['Group'].isin(group_name)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8    False
9    False
Name: Group, dtype: bool

In [69]:
df.loc[df['Group'].isin(group_name)]

,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight
0,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44
1,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43
2,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50
3,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48
4,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45
5,Sooyoung,Choi Sooyoung,최수영,수영,1990-02-10,SNSD,South Korea,NaN,170,48
6,Yoona,Im Yoona,임윤아,윤아,1990-05-30,SNSD,South Korea,NaN,166,47
7,Seohyun,Seo Joohyun,서주현,서현,1991-06-28,SNSD,South Korea,NaN,168,48